CORVUS_APP_NAME=Corvus API
CORVUS_DEBUG=false

POSTGRES_DB=corvus
POSTGRES_USER=corvus
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
CORVUS_DATABASE_URL=postgresql+psycopg://corvus:password@localhost:5432/corvus
CORVUS_JWT_SECRET_KEY=replace_with_your_secret_key
CORVUS_CORS_ORIGINS=["http://localhost:5173"]