CORVUS_APP_NAME=Corvus API
CORVUS_DEBUG=false

POSTGRES_DB=corvus
POSTGRES_USER=corvus
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
CORVUS_DATABASE_URL=postgresql+psycopg://corvus:password@localhost:5432/corvus